<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Goals</title>
  </head>
  <nav>
    <a href= "/">Home</a> 
    <a href= "/workout_log">Workout Log</a>
    <a href= "/goals">Goals</a>
    <a href= "/profile">Profile</a>
 </nav>
 <h2>Let's Set Your Goals!</h2>
 <p>One of the key features of Fitness Hub is its goal-setting functionality. You can set specific, measurable, achievable, relevant,
   and time-bound (SMART) goals for yourself, whether it's losing weight, building muscle, or improving your overall fitness level. 
   Fitness Hub will help you track your progress towards these goals and provide you with motivation and encouragement along the way.</p>
    <form action="/submit-goal" method="post">
        <label for="goalType">Goal Type:</label><br>
        <select id="goalType" name="goalType">
            <option value="dailySteps">Daily Steps</option>
            <option value="weeklyCalories">Weekly Calories</option>
            <option value="monthlyExercise">Monthly Exercise Minutes</option>
        </select><br>
        <label for="goal">Goal:</label><br>
        <input type="text" id="goal" name="goal"><br>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate"><br>
        <label for="endDate">End Date:</label><br>
        <input type="date" id="endDate" name="endDate"><br>
        <label for="completed">Goal Achieved:</label>
        <input type="checkbox" id="completed" name="completed"><br>
        <input type="submit" value="Set Goal">
    </form>
</html>