<!doctype html>
<html lang= "en">
    <head>
        <meta charset="utf-8">
        <h1>Fitness Hub</h1>
        <h3>Start Your Journey, Reach Your Peak</h3>
        <h2>Home </h2>
    </head>
    <nav>
        <a href= "/workout_log">Workout Log</a>
        <a href= "/goals">Goals</a>
        <a href= "/profile">Profile</a>
     </nav>
    <body>
        <article>
            <h2>About Fitness Hub</h2>
            <p>Welcome to Fitness Hub, your personal fitness companion! Fitness Hub is a comprehensive app designed to help you achieve 
            your fitness goals and track your progress over time. Whether you're a seasoned athlete or just starting your fitness journey,
            Fitness Hub has everything you need to succeed.With its user-friendly interface, personalized profiles, goal-setting features, 
            and progress tracking tools, Fitness Hub is the perfect companion for anyone looking to take their fitness journey to the next 
            level. Start using Fitness Hub today and start seeing results!</p>
            
        </article>
        <p>Workout Summary: {{ summary }}</p>
        <p>Calories Burned: {{ calories }}</p>
        <p>Goals Achieved: {{ goals }}</p>
    </body>
</html>