<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <nav>
    <a href= "/">Home</a> 
    <a href= "/workout_log">Workout Log</a>
    <a href= "/goals">Goals</a>
    <a href= "/profile">Profile</a>
 </nav>
 <body>
  <fieldset>
    <legend>Profile Information</legend>
      <label for="nBox">Full Name</label>
      <input type="text" name="Name" id="nBox"> 
      <br />
      <label for="mailBox">E-mail</label>
      <input type="email" name="email" id="mailBox">
  </fieldset>
 </body>
</html>