<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Workout Log</title>
  </head>
  <nav>
    <a href= "/">Home</a> 
    <a href= "/workout_log">Workout Log</a>
    <a href= "/goals">Goals</a>
    <a href= "/profile">Profile</a>
 </nav>
 <fieldset>
  <legend>Today's Workout</legend>
  <label for="itemList">Training Type?</label>
    <select name="item" id="itemList">
      <option value="blank">&nbsp;</option>
      <option value="Cardio">Cardio</option>
      <option value="H.I.I.T.">H.I.I.T.</option>
      <option value="Resistance">Resistance</option>
      <option value="Strength Training">Strength Training</option>
      <option value="Core">Core</option>
      <option value="Yoga">Yoga</option>
      <option value="Group Fitness">Group Fitness</option>
    </select>
    <br />


    <br />
    <label for="SDate"> Date:</label><br>
    <input type="date" id="startDate" name="SDate"><br>
    <label for="STime">Time</label>
    <input type="time" id="STime" name="STime">
</fieldset>	
<input type="submit" value="Store Summary!">
 
</html>